.w-wrapper {
    position: relative;
    padding: 20px 0 50px;
    min-height: calc(100vh - 40px);
}

.w-container {
    position: relative;
    z-index: 10;
    max-width: 1165px;
    margin: 0 auto;
}
.w-title {
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 48px;
}
.w-announcement {
    display: none;
    margin-bottom: 25px;
    min-height: 86px;
    justify-content: space-between;
    border-radius: 6px;
    overflow: hidden;
}

.w-announcement-title__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.w-announcement-title__text--wrapper {
    display: flex;
    align-items: center;
}

.w-announcement-img-box {
    min-width: 180px;
}

.w-announcement__content {
    display: flex;
    background: #fff;
    border-radius: 5px;
}

.w-announcement.open {
    display: flex;
}
.w-announcement__img {
    max-width: 294px;
    height: auto;
}
.w-announcement-title {
    max-width: 266px;
    display: flex;
    align-items: center;.w-wrapper:before
    padding: 0 20px 0 30px;
    font-size: 16px;
    flex-shrink: 0;
}
.w-announcement-title__text {
    position: relative;
    margin-left: 30px;
    font-weight: 700;
    color: #37809F;
    min-width: 160px;
    max-width: 180px;
}

.w-announcement-title__text::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background: rgba(55,128,159,0.25);
}

.w-announcement-text {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    font-size: 13px;
    color: #222222;
}
.w-announcement-text p {
    line-height: inherit!important;
    margin: 0!important;
}
.w-filters {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 25px;
    height: 86px;
    align-items: center;
    background: #FFFFFF;
    border-radius: 6px;
    padding: 0 20px 0 10px;
}

.w-filters__left {
    min-width: 180px;
}

.w-filters__wrap {
    display: flex;
}

.download-btn {
    position: relative;
    padding: 7px 10px 0 20px;
    display: flex;
    align-items: center;
}

.download-btn::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    height: 100%;
    width: 1px;
    background: rgba(55,128,159,0.25);
}

.w-filters {
    display: flex;
}
.w-filter {
    width: 300px;
    margin: 0 12px;
}
.w-filter__label {
    margin-bottom: 3px;
    font-size: 13px;
}
.w-kpis {
    position: relative;
    margin-bottom: 25px;
}
.w-kpis-info {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    top: 50%;
    transform: translateY(-50%) rotate(270deg);
    right: calc(100% - 15px);
    text-align: center;
    min-width: 210px;
}
.w-kpis-info__title {
    font-size: 48px;
    color: #FFFFFF;
}
.w-kpis-info__descr {
    font-size: 14px;
    color: #B0E0E2;
}
.w-kpis__row {
    margin-bottom: 8px;
    display: flex;
    min-height: 115px;
    border-radius: 6px;
    overflow: hidden;
}

.w-kpis-title {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    min-width: 185px;
    font-size: 13px;

}
.w-kpis-title__text {
    font-weight: 700;
    text-align: center;
    padding: 6px;
    text-transform: uppercase;
    background: rgba(55, 128, 159, .1);
    color: #37809F;
}
.w-kpis-content {
    width: 100%;
    display: flex;
}
.w-kpis-content__col {
    padding: 15px 0 10px;
    width: 25%;
    position: relative;
    text-decoration: none;
}
.w-kpis-content__col:not(:last-child):after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 70px;
    width: 1px;
    background: rgba(55,128,159,0.25);
}
.w-kpis-box {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.w-kpis-box__title {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    padding: 0 10px;
    height: 20px;
    border-radius: 3px;
    text-transform: uppercase;
    background: rgba(55, 128, 159, .1);
    color: #37809F;
    line-height: 20px;
    font-size: 12px;
    font-weight: 700;
}
.w-kpis-title__img {
    max-height: 50px;
    width: auto;
}
.w-kpis-box__val {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #000;
}
.w-kpis-box__val svg {
   margin-right: 5px;
}
.w-kpis-box__val path {
    stroke: #000;
}
.w-kpis-box__val.green {
    color: #60A177;
}
.w-kpis-box__val.green path {
    stroke: #60A177;
}
.w-kpis-box__val.red {
    color: #D34839;
}
.w-kpis-box__val.red path {
    stroke: #D34839;
}
.w-kpis-box__per {
    margin-top: 10px;
    font-size: 12px;
    color: #666666;
}

.w-kpis-content__wrap {
    width: 100%;
    background: #fff;
    border-radius: 5px;
}
.w-kpis-box__defference-val {
    font-size: 12px;
    color: #666666;
}